
<!-- Interpolation -->
<section>

  <p>
    Interpolation:  {{ title }}!
  </p>

</section>

<hr/>

<!-- Property Binding -->
<section>
  Property Binding :- <input type="text" [value]="property_binding" />
</section>

<hr/>

<!-- Event Binding -->
<section>
  Event Binding :- <button type="button" (click)="btnEvent($event)" >Button</button>
  <br/>
  <code>
    {{ btnEventData | json }}
  </code>
</section>

<hr/>


<!-- Event Binding -->
<section>
  Two Way Data Binding :- <input type="text" [(ngModel)]="twoWayDataBinding" />
  <br/>
  Printing :- {{ twoWayDataBinding }}
</section>
<hr/>



<!-- Directive *ngIf -->
<section>
  *ngIf Directive :- <button (click)="toggleNgIf()">toggle variable</button>
  <br/>
  <h4 *ngIf='ngIfVar'>*ngIf Directive tag</h4>
</section>
<hr/>



<!-- Directive *ngFor -->
<section>
  *ngFor Directive :-
  <br/>
  <p *ngFor="let i of ngForVar">{{ i }}</p>
</section>
<hr/>


<!-- Directive *ngSwitch -->
<section>
  [ngSwtich] Directive :- <button (click)="toggleNgSwitch()">change variable</button>
  <br/>
  <div [ngSwitch]="ngSwitchKey">
    <p *ngSwitchCase="'Amla'"> Amla</p>
    <p *ngSwitchCase="'MRR'"> MRR</p>
    <p *ngSwitchCase="'Artifi'"> Artifi</p>
    <p *ngSwitchDefault> Default</p>
  </div>
</section>
<hr/>



<!-- Directive ngClass -->
<section>
  [ngClass] Directive :- <button (click)="togglengClass()">toggle class</button>
  <br/>
  <div [ngClass]="{'active': isActive, 'disabled': isDisabled}"> ngClass Directive Element</div>
</section>
<hr/>


<!-- bg-red custom attribute directive -->
<h2 appBgRed >Custom Attribute Directive</h2>